<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Hub</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  
    <main>
        <section class="hero">
            <h1>Unlock the Magic of Reading!</h1>
            <p>"A room without books is like a body without a soul."</p>
        </section>

        <section class="about">
            <h2>Who We Are</h2>
            <p>Welcome to Book Shop, your ultimate destination for book lovers! Our mission is to bring together a community of readers and provide access to a vast collection of books across genres. Whether you're a casual reader or a bookworm, we have something for everyone.</p>
        </section>

        <section class="view-books">
            <h2>Explore Our Collection</h2>
            <a href="/book/index" class="view-books-btn">View Books</a>
        </section>
    </main>

</body>
</html>
